language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r requirements.txt"
install: "python setup.py bdist_wheel"
install:
  - travis_retry pip install pylint
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install pytest-cov coverage coveralls codacy-coverage
# command to run tests
script: nosetests

after_success:
  - pylint lambdaapi